certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
commonmark==0.9.1
Deprecated==1.2.13
Flask==2.0.2
Flask-Cors==3.0.10
googleapis-common-protos==1.54.0
grpcio==1.43.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.22.1
nvidia-ml-py==11.515.0
opentelemetry-api==1.9.0
opentelemetry-exporter-jaeger==1.9.0
opentelemetry-exporter-jaeger-proto-grpc==1.9.0
opentelemetry-exporter-jaeger-thrift==1.9.0
opentelemetry-instrumentation==0.28b0
opentelemetry-instrumentation-flask==0.28b0
opentelemetry-instrumentation-requests==0.28b0
opentelemetry-instrumentation-wsgi==0.28b0
opentelemetry-propagator-jaeger==1.9.0
opentelemetry-sdk==1.9.0
opentelemetry-semantic-conventions==0.28b0
opentelemetry-util-http==0.28b0
protobuf==3.19.4
Pygments==2.11.2
python-dotenv==0.19.2
requests==2.27.1
rich==11.0.0
scalene==1.4.2
six==1.16.0
thrift==0.15.0
typing_extensions==4.0.1
urllib3==1.26.8
Werkzeug==2.0.2
wrapt==1.13.3
